In [1]:
import pandas as pd
import os

estados: Florida, Pennsylvania, Tennessee, California, Texas, New York

In [2]:
df_estados_USA= pd.read_csv("D:/PROYECTO FINAL/Google Maps/estados_usa.csv",delimiter = ';', encoding = "utf-8")
#df_estados_USA= pd.read_csv("C:/Data/GMaps/estados_usa.csv",delimiter = ';', encoding = "utf-8")

In [3]:
df_estados_USA= df_estados_USA.rename(columns={'nombre_largo': 'estado', 'nombre_corto':'state'}) # cambiar nombre de la columna
df_estados_USA= df_estados_USA.drop(['codigos'], axis=1) 
df_estados_USA['estado']= df_estados_USA['estado'].convert_dtypes(convert_string=True)
df_estados_USA['estado']= df_estados_USA['estado'].str.strip()  # quita los espacios vacios

In [4]:
df_estados_USA.head()

       estado state
0     Alabama    AL
1      Alaska    AK
2     Arizona    AZ
3    Arkansas    AR
4  California    CA

In [6]:
df_business = pd.read_pickle("D:/PROYECTO FINAL/Yelp/business.pkl")
#df_business = pd.read_pickle("C:/Data/Yelp/business.pkl")
df_business = df_business.loc[:, ~df_business.columns.duplicated()]

In [7]:
df_business.head(3)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,NaN,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,NaN,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,NaN,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."

In [8]:
df_business.info()

<class 'pandas.core.frame.DataFrame'>
Index: 150346 entries, 0 to 150345
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       150346 non-null  object
 3   city          150346 non-null  object
 4   state         150343 non-null  object
 5   postal_code   150346 non-null  object
 6   latitude      150346 non-null  object
 7   longitude     150346 non-null  object
 8   stars         150346 non-null  object
 9   review_count  150346 non-null  object
 10  is_open       150346 non-null  object
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
dtypes: object(14)
memory usage: 17.2+ MB

In [9]:
df_business['categories'] = df_business['categories'].str.split(',')
df_business= df_business.explode('categories')
df_business= df_business.dropna(subset=['categories']) # Elimina datos nulos de la columna
df_business['categories']= df_business['categories'].str.strip()    # Elimina los espacios

In [14]:
df_business2= df_business[df_business['categories'].str.contains('resta', case=False)]

In [30]:
df= df_business['categories'].value_counts().reset_index()

In [33]:
df.head(20)

                   categories  count
0                 Restaurants  52268
1                        Food  27781
2                    Shopping  24395
3               Home Services  14356
4               Beauty & Spas  14292
5                   Nightlife  12281
6            Health & Medical  11890
7              Local Services  11198
8                        Bars  11065
9                  Automotive  10773
10  Event Planning & Services   9895
11                 Sandwiches   8366
12     American (Traditional)   8139
13                Active Life   7687
14                      Pizza   7093
15               Coffee & Tea   6703
16                  Fast Food   6472
17         Breakfast & Brunch   6239
18             American (New)   6097
19            Hotels & Travel   5857

In [10]:
df_business= df_business[df_business['categories']== 'Restaurants']
#df_business= df_business[df_business['categories']== 'Restaurant Supplies']

In [145]:
df_business= df_business.dropna(subset=['state']) # Elimina datos nulos de la columna
df_business['state']= df_business['state'].str.strip()  # quita los espacios vacios

In [146]:
df_business = df_business.merge(df_estados_USA, on='state', how='left')

In [147]:
df_business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,estado
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,CA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...",Restaurants,"{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",California
1,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,AZ,37015,36.269593,-87.058943,2.0,6,1,"{'BusinessParking': 'None', 'BusinessAcceptsCr...",Restaurants,"{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '...",Arizona
2,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,TN,63123,38.565165,-90.321087,3.0,19,0,"{'Caters': 'True', 'Alcohol': 'u'full_bar'', '...",Restaurants,None,Tennessee
3,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,2312 Dickerson Pike,Nashville,MO,37207,36.208102,-86.76817,1.5,10,1,"{'RestaurantsAttire': ''casual'', 'Restaurants...",Restaurants,"{'Monday': '0:0-0:0', 'Tuesday': '6:0-21:0', '...",Missouri
4,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,,Tampa Bay,MO,33602,27.955269,-82.45632,4.0,10,1,"{'Alcohol': ''none'', 'OutdoorSeating': 'None'...",Restaurants,"{'Monday': '11:0-14:0', 'Tuesday': '11:0-14:0'...",Missouri

In [148]:
df_business= df_business.drop(['state'], axis=1)
df_business= df_business.rename(columns={'estado': 'state'}) # cambiar nombre de la columna
df_business= df_business.dropna(subset=['state']) # Elimina datos nulos de la columna

In [149]:
df_business.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50356 entries, 0 to 52267
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   50356 non-null  object
 1   name          50356 non-null  object
 2   address       50356 non-null  object
 3   city          50356 non-null  object
 4   postal_code   50356 non-null  object
 5   latitude      50356 non-null  object
 6   longitude     50356 non-null  object
 7   stars         50356 non-null  object
 8   review_count  50356 non-null  object
 9   is_open       50356 non-null  object
 10  attributes    49810 non-null  object
 11  categories    50356 non-null  object
 12  hours         43348 non-null  object
 13  state         50356 non-null  string
dtypes: object(13), string(1)
memory usage: 5.8+ MB

In [150]:
df_business.isna().count()

business_id     50356
name            50356
address         50356
city            50356
postal_code     50356
latitude        50356
longitude       50356
stars           50356
review_count    50356
is_open         50356
attributes      50356
categories      50356
hours           50356
state           50356
dtype: int64

In [151]:
df_business

,business_id,name,address,city,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,state
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...",Restaurants,"{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",California
1,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,37015,36.269593,-87.058943,2.0,6,1,"{'BusinessParking': 'None', 'BusinessAcceptsCr...",Restaurants,"{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '...",Arizona
2,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,63123,38.565165,-90.321087,3.0,19,0,"{'Caters': 'True', 'Alcohol': 'u'full_bar'', '...",Restaurants,None,Tennessee
3,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,2312 Dickerson Pike,Nashville,37207,36.208102,-86.76817,1.5,10,1,"{'RestaurantsAttire': ''casual'', 'Restaurants...",Restaurants,"{'Monday': '0:0-0:0', 'Tuesday': '6:0-21:0', '...",Missouri
4,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,,Tampa Bay,33602,27.955269,-82.45632,4.0,10,1,"{'Alcohol': ''none'', 'OutdoorSeating': 'None'...",Restaurants,"{'Monday': '11:0-14:0', 'Tuesday': '11:0-14:0'...",Missouri
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52263,l9eLGG9ZKpLJzboZq-9LRQ,Wawa,19 N Bishop Ave,Clifton Heights,19018,39.925656,-75.310344,3.0,11,1,"{'BikeParking': 'True', 'BusinessAcceptsCredit...",Restaurants,"{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",Tennessee
52264,cM6V90ExQD6KMSU3rRB5ZA,Dutch Bros Coffee,1181 N Milwaukee St,Boise,83704,43.615401,-116.284689,4.0,33,1,"{'WiFi': ''free'', 'RestaurantsGoodForGroups':...",Restaurants,"{'Monday': '0:0-0:0', 'Tuesday': '0:0-17:0', '...",Idaho
52265,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,1108 S 9th St,Philadelphia,19147,39.935982,-75.158665,4.5,35,1,"{'WheelchairAccessible': 'False', 'Restaurants...",Restaurants,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",Missouri
52266,2O2K6SXPWv56amqxCECd4w,The Plum Pit,4405 Pennell Rd,Aston,19014,39.856185,-75.427725,4.5,14,1,"{'RestaurantsDelivery': 'False', 'BusinessAcce...",Restaurants,"{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",Pennsylvania
52267,hn9Toz3s-Ei3uZPt7esExA,West Side Kebab House,2470 Guardian Road NW,Edmonton,T5T 1K8,53.509649,-113.675999,4.5,18,0,"{'Ambience': '{'touristy': False, 'hipster': F...",Restaurants,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",New Jersey

In [152]:
lista_estados= ['Florida', 'Pennsylvania', 'Tennessee', 'California', 'Texas', 'New York']
df_business= df_business[df_business['state'].isin(lista_estados)]

In [153]:
df_business

,business_id,name,address,city,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,state
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...",Restaurants,"{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",California
2,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,63123,38.565165,-90.321087,3.0,19,0,"{'Caters': 'True', 'Alcohol': 'u'full_bar'', '...",Restaurants,None,Tennessee
5,il_Ro8jwPlHresjw9EGmBg,Denny's,8901 US 31 S,Indianapolis,46227,39.637133,-86.127217,2.5,28,1,"{'RestaurantsReservations': 'False', 'Restaura...",Restaurants,"{'Monday': '6:0-22:0', 'Tuesday': '6:0-22:0', ...",Tennessee
6,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,2575 E Bay Dr,Largo,33771,27.916116,-82.760461,4.5,100,0,"{'OutdoorSeating': 'False', 'RestaurantsGoodFo...",Restaurants,"{'Monday': '10:0-18:0', 'Tuesday': '10:0-20:0'...",Florida
10,kfNv-JZpuN6TVNSO6hHdkw,Hibachi Express,6625 E 82nd St,Indianapolis,46250,39.90432,-86.05308,4.0,20,1,"{'RestaurantsDelivery': 'True', 'RestaurantsTa...",Restaurants,"{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'...",Pennsylvania
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52260,8n93L-ilMAsvwUatarykSg,Kitchen Gia,3716 Spruce St,Philadelphia,19104,39.951018,-75.19824,3.0,22,0,"{'RestaurantsGoodForGroups': 'True', 'BikePark...",Restaurants,"{'Monday': '9:0-19:30', 'Tuesday': '9:0-19:30'...",Pennsylvania
52261,2MAQeAqmD8enCT2ZYqUgIQ,The Melting Pot - Nashville,"166 2nd Ave N, Ste A",Nashville,37201,36.163875,-86.776311,4.0,204,0,"{'RestaurantsDelivery': 'False', 'RestaurantsR...",Restaurants,"{'Monday': '0:0-0:0', 'Tuesday': '16:0-21:0', ...",Pennsylvania
52262,w_4xUt-1AyY2ZwKtnjW0Xg,Bittercreek Alehouse,246 N 8th St,Boise,83702,43.61659,-116.202383,4.5,998,1,"{'BikeParking': 'True', 'Alcohol': 'u'full_bar...",Restaurants,"{'Monday': '0:0-0:0', 'Tuesday': '11:0-22:0', ...",Pennsylvania
52263,l9eLGG9ZKpLJzboZq-9LRQ,Wawa,19 N Bishop Ave,Clifton Heights,19018,39.925656,-75.310344,3.0,11,1,"{'BikeParking': 'True', 'BusinessAcceptsCredit...",Restaurants,"{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",Tennessee
52266,2O2K6SXPWv56amqxCECd4w,The Plum Pit,4405 Pennell Rd,Aston,19014,39.856185,-75.427725,4.5,14,1,"{'RestaurantsDelivery': 'False', 'BusinessAcce...",Restaurants,"{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",Pennsylvania

In [154]:
#Borrar Columnas
df_business= df_business.drop(['address','postal_code', 'review_count', 'is_open', 'attributes','categories', 'hours'], axis=1)
df_business= df_business[['business_id','name', 'city', 'state', 'latitude', 'longitude', 'stars']]
df_business['price'] = "SIN DATO"
df_business['platform'] = 2
df_business = df_business.reset_index(drop=True)

In [156]:
df_business

,business_id,name,city,state,latitude,longitude,stars,price,platform
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,Philadelphia,California,39.955505,-75.155564,4.0,SIN DATO,2
1,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,Affton,Tennessee,38.565165,-90.321087,3.0,SIN DATO,2
2,il_Ro8jwPlHresjw9EGmBg,Denny's,Indianapolis,Tennessee,39.637133,-86.127217,2.5,SIN DATO,2
3,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,Largo,Florida,27.916116,-82.760461,4.5,SIN DATO,2
4,kfNv-JZpuN6TVNSO6hHdkw,Hibachi Express,Indianapolis,Pennsylvania,39.90432,-86.05308,4.0,SIN DATO,2
...,...,...,...,...,...,...,...,...,...
26888,8n93L-ilMAsvwUatarykSg,Kitchen Gia,Philadelphia,Pennsylvania,39.951018,-75.19824,3.0,SIN DATO,2
26889,2MAQeAqmD8enCT2ZYqUgIQ,The Melting Pot - Nashville,Nashville,Pennsylvania,36.163875,-86.776311,4.0,SIN DATO,2
26890,w_4xUt-1AyY2ZwKtnjW0Xg,Bittercreek Alehouse,Boise,Pennsylvania,43.61659,-116.202383,4.5,SIN DATO,2
26891,l9eLGG9ZKpLJzboZq-9LRQ,Wawa,Clifton Heights,Tennessee,39.925656,-75.310344,3.0,SIN DATO,2
26892,2O2K6SXPWv56amqxCECd4w,The Plum Pit,Aston,Pennsylvania,39.856185,-75.427725,4.5,SIN DATO,2

In [ ]:
def dividir_json_grande(archivo_entrada, num_partes):
    # Contar el número total de líneas/objetos en el archivo JSON
    with open(archivo_entrada, 'r', encoding='utf-8') as archivo:
        total_lineas = sum(1 for _ in archivo)
    
    # Calcular el tamaño de cada parte
    tamaño_parte = total_lineas // num_partes
    if total_lineas % num_partes != 0:
        tamaño_parte += 1

    # Leer y dividir el archivo en partes
    with open(archivo_entrada, 'r', encoding='utf-8') as archivo:
        for i in range(num_partes):
            archivo_salida = f'parte_{i + 1}.json'
            with open(archivo_salida, 'w', encoding='utf-8') as salida:
                salida.write('[')  # Comenzar un array JSON
                for j in range(tamaño_parte):
                    linea = archivo.readline()
                    if not linea:
                        break
                    salida.write(linea.rstrip())
                    if j < tamaño_parte - 1 and not archivo.tell() == total_lineas:
                        salida.write(',')
                salida.write(']')  # Terminar el array JSON
            # Si el archivo original ha terminado, salir del bucle
            if not linea:
                break

# Usar la función para dividir el archivo 'archivo.json' en 10 partes
dividir_json_grande('D:/PROYECTO FINAL/Yelp/review.json', 20)